.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.menu-header {
  display: inline - block;
  padding: 1rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-weight: 500;
  letter-spacing: 7px;
  text-align: center;
}

.menu-list {
  text-align: center;
  padding-top: 1rem;
}

@media (max-width: 950px) {
  .menu-header {
    padding: 1rem;
  }
}
