.sidebar {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  padding: 5px 50px;
  gap: 30px;
}

.sidebar img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

fieldset {
  width: 100%;
  height: 26%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0.5px solid;
  padding: 30px;
}

.reservations-container {
  max-width: 600px;
  min-width: 300px;
  min-height: 630px;
}

.reservations-container button {
  margin-top: 15px;
}

.reservations-input input {
  border: 1px solid black;
  margin-top: 15px;
}

select[id="time"] {
  width: 100%;
  margin-top: 15px;
}

#party,
#date,
#time {
  border: 0.5px solid black;
}

@media (max-width: 700px) {
  .sidebar {
    grid-template-columns: 1fr;
    padding: 0px 30px 0px 30px;
    gap: 20px;
    height: 20%;
    width: 100%;
    align-items: center;
  }

  .sidebar img {
    display: none;
  }
}
