.cart {
  display: none;
}

.menu-items {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  line-height: 1.1;
  padding: 0.4rem 2rem;
}

@media (max-width: 950px) {
  .menu-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-left: 1.5rem;
  }

  .cart {
    display: block;
    cursor: pointer;
  }
}
