.about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px 20px 5px 20px;
  gap: 1rem;
  font-size: 2.3rem;
  font-weight: lighter;
}
.about img {
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.about img:nth-of-type(1) {
  grid-column: 1 / span 2;
  width: 100%;
  height: 300px;
}

.about p:nth-of-type(1) {
  grid-column: span 2;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.about p:nth-of-type(2),
.about p:nth-of-type(3) {
  display: grid;
  align-items: center;
}

.about p:nth-of-type(3) {
  grid-column: span 2;
}

.about img:nth-of-type(3) {
  grid-column: span 2;
  width: 100%;
  height: 330px;
}

.about img:nth-of-type(2) {
  width: 250px;
}

.about img:nth-of-type(4) {
  grid-column: span 2;
  width: 100%;
}

.about img:nth-of-type(5) {
  width: 100%;
  height: 100%;
  grid-column: span 2;
  grid-row: span 2;
}
