.aboutpreview {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.aboutpreview img {
  width: 100%;
}

.aboutpreview h2 {
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

.aboutpreview p {
  font-size: 25px;
  font-weight: lighter;
}
