.container {
  letter-spacing: 0.2rem;
  font-size: 30px;
}

.container h4 {
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.container p {
  margin-top: 0.3rem;
}

header img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
