.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 5px;
  padding-right: 5px;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.items img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.items:nth-of-type(1) {
  grid-column: 1;
  grid-row: span 2;
}

.items:nth-of-type(4) {
  display: none;
}

.items:nth-of-type(5) {
  grid-column: 2 / span 3;
  height: 400px;
}

.items:nth-of-type(6) {
  grid-column: span 2;
}

.items img:nth-of-type(1) {
  height: 100%;
}

@media (max-width: 600px) {
  .items {
    column-gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .items img {
    max-height: 200px;
  }

  .items:nth-of-type(4) {
    display: grid;
  }

  .items:nth-of-type(5) {
    grid-column: span 1;
  }

  .items:nth-of-type(1) {
    grid-column: span 2;
  }

  .items:nth-of-type(6) {
    grid-column: span 1;
  }
}
