.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  width: 100%;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 250px;
}

.navbar-links ul {
  margin: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 0.8rem;
}

.navbar-links li a:hover {
  color: var(--primary);
  transition: 200ms ease-in-out;
}

.navbar-mobile {
  display: none;
}

.navbar-mobile_links {
  list-style-type: none;
}

.navbar-mobile_links li {
  margin: 2em;
  font-family: Karla;
}

.navbar-mobile_links a:hover {
  padding: 0.5em 1.5em;
  background-color: var(--primary);
  color: white;
  transition: 250ms ease-in-out;
  border-radius: 15px;
}

.navbar-mobile_overlay {
  display: none;
  padding: 4em;
  height: 100vh;
  cursor: pointer;
  background-color: white;
}

.navbar-mobile_overlay .overlay_close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 980px) {
  .navbar-links {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 1.5%;
    right: 30px;
    cursor: pointer;
  }

  .navbar-mobile_overlay {
    display: flex;
    transition: 1s ease;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 5px;
    background-color: white;
    z-index: 5;
  }

  .navbar-mobile_links a {
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

@media (max-width: 600px) {
  .navbar-mobile_overlay {
    left: 60%;
    text-align: left;
    padding-left: 0em;
  }

  .navbar-mobile_overlay .overlay_close {
    left: 35%;
    top: 10px;
  }

  .navbar-mobile_links a:hover {
    padding: 0.4em 1em;
  }
}
